{% extends 'AppBundle::base.html.twig' %}

{% block title parent() ~ ' - ' ~ 'suggestion.number.title'|trans ~ suggestion.id %}

{% block nav %}
    <h2>{{ 'Suggestion' }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home') }}">{{ 'home.title'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('get_suggestions') }}">{{ 'suggestions.title'|trans }}</a>
        </li>
    </ol>
{% endblock %}

{% block action %}
    <a href="{{ path('get_suggestions') }}" class="btn btn-default">{{ 'suggestion.action.return'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="row suggestion">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center m-b-lg">
                        <span><img class="img-circle" src="{{ gravatar(suggestion.user.email, 80) }}"
                                   title="{{ suggestion.user.email }}" alt="{{ suggestion.user.email }}"/></span>
                        <h1>{{ 'suggestion.number.title'|trans ~ suggestion.id }}</h1>
                        <span class="text-muted">
                            <i class="fa fa-clock-o"></i>
                            {{ suggestion.insertedAt|date('d/m/Y') }}
                        </span>
                    </div>
                    {{ suggestion.description|escape|markdown }}
                    <div class="b-r-xl">
                    </div>
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body ">
                            <strong>{{ 'suggestions.aditionaldesc.title'|trans }}</strong><br>
                            <small class="text-muted">
                                {% if suggestion.additionalDescription is defined and suggestion.additionalDescription is not null %}
                                    {{ suggestion.additionalDescription }}
                                {% elseif suggestion.additionalDescription is null %}
                                    {{ 'suggestions.aditionaldesc.without'|trans }}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <div class="text-right">
                        {% if suggestion.twitterStatus.id == 2 %}
                            <i class="fa fa-twitter" style="color: #1da1f2"></i>
                        {% endif %}
                        {% if suggestion.status.id == 1 %}
                            <span class="label label-warning">{{ suggestion.status.label|trans }}</span>
                        {% elseif suggestion.status.id == 2 %}
                            <span class="label label-info">{{ suggestion.status.label|trans }}</span>
                        {% else %}
                            <span class="label label-default">{{ suggestion.status.label|trans }}</span>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if (app.user.isAdmin or app.user == suggestion.user) and (suggestion.status.id == 1) %}
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('get_suggestions_mark_as',{'id':suggestion.id, 'statusId': 2}) }}">
                                    {{ 'suggestion.button.accept'|trans }}
                                </a>
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('get_suggestions_mark_as',{'id':suggestion.id, 'statusId': 3}) }}">
                                    {{ 'suggestion.button.refuse'|trans }}
                                </a>
                            {% endif %}
                            {% if suggestion.twitterStatus.id == 1 %}
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('tweet_withMedia', {'id': suggestion.id, 'statusId': 2}) }}">
                                    <i class="fa fa-twitter"></i>
                                    {{ 'suggestion.button.push'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-default btn-sm" href="#" disabled="">
                                    <i class="fa fa-twitter" style="color: #1da1f2">
                                        {{ 'suggestion.status.pushed'|trans }}
                                    </i>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if suggestion.file is not empty %}

                            <a class="btn btn-default btn-sm"
                               href="{{ path('get_suggestions_download',{'file':suggestion.file}) }}">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
